#HomeMapContainer {
  height: 100%;
  position: relative;
}
#equipmentBaseInfo {
  width: 250px;
  max-height: 250px;
  padding: 15px;
}
#equipmentBaseInfo > p {
  display: flex;
}
#equipmentBaseInfo b {
  flex-basis: 30%;
  text-align: right;
}
#equipmentBaseInfo span {
  flex-basis: 70%;
  padding-left: 5px;
  text-align: left;
  word-break: break-all;
}
.amap-icon img,
.amap-marker-content img {
  width: 25px;
  height: 34px;
}
