.title {
  color: white;
  margin: 10px;
  min-width: 180px;
}
.avatar-wrap {
  float: right;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  & > span:first-child {
    margin-right: 10px;
  }
  & > span {
    line-height: 1;
  }
}
